<script>
function attack(log, hero, enemy) {
  return "herro";
}
</script>

<%
images = ["https://forums.terraria.org/index.php?attachments/elite-knight-png.27964/",
  "http://2.bp.blogspot.com/-W5YWFyaZXl0/U_4xPYwNR8I/AAAAAAAAFr8/8Cl2ZJO4kH0/s1600/linknintendo.png",
  "https://lh3.googleusercontent.com/-IWJ1ZzWYJJw/VVGIZlYeoeI/AAAAAAACRdw/4MRUWtjv77s/w256-h256/8bit_human_male_Barbarian_long_sword.gif",
  "http://1.bp.blogspot.com/-bVEhlOCp48I/VYMCTw-xISI/AAAAAAAAP-4/f_LSmA8PT98/s640/clash-of-clans-giant-pixel-art.png",
  "http://streak.club/img/dXBsb2Fkcy9pbWFnZS8yMjk2LmdpZg==/original/5bcuaa.gif"]
imgnum = 0
if current_user.heros[0].kind == "Human"
  imgnum = 0
elsif current_user.heros[0].kind == "Elf"
  imgnum = 1
elsif current_user.heros[0].kind == "Barbarian"
  imgnum = 2
elsif current_user.heros[0].kind == "Giant"
  imgnum = 3
elsif current_user.heros[0].kind == "Troll"
  imgnum = 4
end
# "Name", hp, atk, def, speed, url
enemies = [["Bat", 100, 150, 50, 90, "https://i.pinimg.com/originals/b6/2b/d6/b62bd653a5ea86726d1b28b9cfc9916d.gif"],
["Zombie", 200, 50, 140, 10, "https://vignette.wikia.nocookie.net/plantsvszombies/images/a/af/Bbzzzzz.png/revision/latest?cb=20150924172130"],
["Ghost", 150, 100, 0, 150, "https://i.pinimg.com/originals/9d/e6/a7/9de6a7134d2a314489866b2561299488.png"]]
%>
<%= link_to "Back", "/" %>
<br>
<br>
<img height="200px" src="<%= images[imgnum] %>"></img>
<img height="200px" src="<%= enemies[@enemynum][5] %>" style="float: right;"></img>
<br>
<p style="text-align: center;">VS</p>
<b><%= current_user.heros[0].name %></b> <b style="float: right;"><%= enemies[@enemynum][0] %></b> <br>
<span>Health: <%= current_user.heros[0].hp %></span> <span style="float: right;">Health: <%= enemies[@enemynum][1] %></span> <br>
<span>Attack: <%= current_user.heros[0].atk %></span> <span style="float: right;">Attack: <%= enemies[@enemynum][2] %></span> <br>
<span>Defense: <%= current_user.heros[0].defense %></span> <span style="float: right;">Defense: <%= enemies[@enemynum][3] %></span> <br>
<span>Speed: <%= current_user.heros[0].speed %></span> <span style="float: right;">Speed: <%= enemies[@enemynum][4] %></span> <br>
<br>
<%= button_to "Attack!", :enemynum => @enemynum %>
<br>
<h2>Battle Log</h2>
<p id="notice"><%= notice %></p>
