<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @hero.name %>
</p>

<p>
  <strong>Attack:</strong>
  <%= @hero.atk %>
</p>

<p>
  <strong>Health:</strong>
  <%= @hero.hp %>
</p>

<p>
  <strong>Defense:</strong>
  <%= @hero.defense %>
</p>

<p>
  <strong>Speed:</strong>
  <%= @hero.speed %>
</p>

<p>
  <strong>Class:</strong>
  <%= @hero.kind %>
</p>

<p>
  <strong>User:</strong>
  <%= @hero.user.name %>
</p>

<%= link_to 'Edit', edit_hero_path(@hero) %> |
<%= link_to 'Back', heros_path %>
